.book-wrapper {
  min-height:350px;
}
.gray-text {
  color:#333;
}
.book-title p{
  font-size:12px!important;
}
.book-image-wrapper {
	min-height: 300px;
}
.book-image-wrapper img {
  width: 100%;
  height: auto;
}
